{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load i18n %}
{% load bootstrap_ui_tags %}

{% block content %}

{% column lg="6" md_offset="3"%}
{% if not user.is_authenticated %}
	<form method="post" action="{% url 'register' %}" class="form-signup">
	{% csrf_token %}
	{% bootstrap_form form %}
	
	<center>
		
	{% buttons %}
	  <button type="submit" class="btn btn-primary">
	    {% trans 'Register' %}
	  </button>
    {% endbuttons %}
	</center>

	</form>
{% endif %}
{% endcolumn %}

{% endblock %}
