{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap_ui_tags %}

{% block head-javascript %}
    {{ block.super }}
    <script src="{% static 'js/experiment.core.js' %}"></script>
{% endblock %}

{% block content %}

    {% block brand-link %}
    {% endblock %}

    {% block nav-links %}
    {% endblock %}

    <div id="status_message"></div>

	<div class="jobs_info" id="jobs_info" style="display: none;">
    	{{ jobs_info }}
	</div>

	<div class="row">
		<div class="col-md-4 col-md-offset-4">

			<div class="panel panel-primary">
	            <div class="panel-heading">
					<h2 class="panel-title"><b>Tempo do Ensaio</b></h2>
				    <br>
	                <div class="row">
	                    <div class="col-xs-3">
	                        <span style="font-size:5em;" class="glyphicon glyphicon-time"></span>
	                    </div>
	                    <div class="col-xs-9 text-right">
	                        <div class="huge"><h1 id="experimentTime"></h1></div>
	                    </div>
	                </div>
	            </div>
	        </div>
        </div>
		<div class="col-md-4">
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-primary">
		            <div class="panel-heading">
					    <h2 class="panel-title"><b>Hora Inicial</b></h2>
		            </div>
                        <div class="huge text-center">
    						<h1 id="initialTime"></h1>
                        </div>
		        </div>
		  	</div>
		<div class="col-md-4">

			    <div class="panel panel-primary">
	            <div class="panel-heading">
				    <h2 class="panel-title"><b>Hora Atual</b></h2>
	            </div>
	                <div class="huge text-center">
	                	<h1 id="elapsedTime"></h1>
	                </div>
	        </div>
	    </div>
		<div class="col-md-4">
			<div class="panel panel-primary">
	            <div class="panel-heading">
				    <h2 class="panel-title"><b>Hora Final</b></h2>
	            </div>
                    <div class="huge text-center">
						<h1 id="finalTime"><i class='fa fa-spinner fa-spin fa-fw' aria-hidden='true'></i></h1>
                    </div>
	        </div>
		</div>
		{% csrf_token %}

		<div id="stop_experiment_url" style="display: none;">
        	{% url 'stop_experiment' experiment_id%}
	    </div>
	    <div id="change_frequency_url" style="display: none;">
        	{% url 'change_frequency' %}
	    </div>
	</div>

    <div id="jobresult">RESULTADO: <br></div>

    <script type="text/javascript">

    	var experiment;

        var jobsInfoString = document.querySelector(".jobs_info").textContent
        var jobsInfo = JSON.parse(jobsInfoString);
    	console.log(jobsInfo);

        function updateElapsedTime() {
            var elapsedTime = document.getElementById("elapsedTime");

            var dateElapsed = new Date();

            elapsedTime.innerHTML =  dateElapsed.getHours() + ":" + dateElapsed.getMinutes()+ ":" + dateElapsed.getSeconds();
        }

        function stopUpdate() {
            var finalTime = document.getElementById("finalTime");
            var finalDate = new Date();
            finalTime.innerHTML = finalDate.getHours() + ":" + finalDate.getMinutes() + ":" + finalDate.getSeconds();

            stopExperiment();
        }

        function createTimers(jobsJson, experiment){

            for (var jobNum in jobsJson) {
                var job = jobsJson[jobNum];
                var timer = new Timer(jobNum, job.time, updateElapsedTime, function(){}, 1000);
                experiment.addTimer(timer);
            }
        }

        function transition(experiment){

            console.log("Changing job...");

            // Fire the job to the next timer
            fireJob(+experiment.currentTimer.ref + 1);

            /*

                fireJob(+experiment.currentTimer.ref + 1)

                wait for table reply

                if table is on right frequency:
                    experiment.continue()

            */

            experiment.continue();
        }

        experiment = new Experiment(
            function(){
                alert("Experiment started!");
                fireJob(1); // Start the first job when the experiment begins
            },
            stopUpdate,
            transition
        );

        createTimers(jobsInfo.jobs, experiment);

        var dateObject = experiment.start(); // Start the experiment

        var hours = dateObject.getHours();
        var minutes = dateObject.getMinutes();
        var seconds = dateObject.getSeconds();

        var startTime = dateObject.getTime();

        var initialTime = document.getElementById("initialTime");
        initialTime.innerHTML = hours + ":" + minutes + ":" + seconds;

        // Print the total time of experiment on screen
    	var time = jobsInfo.total_time;
    	var experimentTime = document.getElementById("experimentTime");
 		experimentTime.innerHTML = time + " segundos";

		function fireJob(job){

			var jobs = jobsInfo.jobs;
			var job_data = jobs[job];
			var previous = $("#jobresult").html() + "<br>";
			$("#jobresult").html(previous + "Job " + job + " reached in " + (new Date().toTimeString()) + " with frequency " + job_data.frequency + " Hz");

			//**** Make a request here to the rapsberry server to change the frequency ****//
			var url = $("#change_frequency_url").html();
			$.ajax({
				type:"POST",
				url: url,
				data: {job: job, frequency: job_data.frequency, jobs_info: jobsInfoString},
			    beforeSend: function(xhr, settings) {
					var token = $('input[name="csrfmiddlewaretoken"]').prop('value');
		        	xhr.setRequestHeader("X-CSRFToken", token);
		      	},
				success: function(response){
                    var CONTROL_SYSTEM_IS_DOWN = "500";
					if (response == CONTROL_SYSTEM_IS_DOWN){
						// In this case the control system is down, so stop the experiment
						createAlert("status_message", "danger", "Não foi possível realizar a comunicação com o sistema de controle. Tente novamente.");
						experiment.stop();
					}
				}
			});
		}

		function stopExperiment(){
		  	var url_post = $("#stop_experiment_url").html();
			$.ajax({
				type:"POST",
				url: url_post,
				data: {},
			    beforeSend: function(xhr, settings) {
					var token = $('input[name="csrfmiddlewaretoken"]').prop('value');
		        	xhr.setRequestHeader("X-CSRFToken", token);
		      	},
				success: function(){
				}
			});
		}

		function createAlert(bindTo, type, message, overwrite){
			var alertCode = "<div class='alert alert-dismissible alert-" + type + " text-center'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button> <b><h4>" + message + "</h4></b></div>";
			if(overwrite){
				$("#"+bindTo).html(alertCode);
			}else{
				var previous = $("#"+bindTo).html();
				$("#"+bindTo).html(previous + alertCode);
			}
		}
    </script>
{% endblock %}

{% block body-javascript %}
    {{ block.super }}
    <script>
        $(document).ready(function(){
            $(document).on("keydown", disableF5);
        });

        function disableF5(e) {
            if ((e.which || e.keyCode) == 116 || (e.which || e.keyCode) == 82){
                createAlert("status_message", "info", "O experimento está sendo executado. Aguarde o fim do experimento.", true);
                e.preventDefault();
            }
        }
	</script>
{% endblock %}