{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap_ui_tags %}

{% block head-css %}
    {{ block.super }}
    <link href="{% static 'css/timeline.css' %}" media="screen" rel="stylesheet" type="text/css">
{% endblock %}

{% block head-javascript %}
    {{ block.super }}
    <script src="{% static 'js/experiment.core.js' %}"></script>
{% endblock %}

{% block content %}

    {% block brand-link %}
    {% endblock %}

    {% block nav-links %}
    {% endblock %}

    <h1 class="text-center">
        {% trans 'Table current frequency (Hz):' %}
        <span id="current_frequency" class="label label-success"></span>
    </h1>
    <br>

    <div id="experiment_status"></div>
    <div id="status_message"></div>

	<div class="jobs_info" id="jobs_info" style="display: none;">
    	{{ jobs_info }}
	</div>

    <div class="row">
        <div class="col-md-6">
            <h3>{% trans 'Experiment history' %}</h3>
            <br>
            <div id="experiment_history" class="timeline">
                <div class="line text-muted"></div>
            </div>
        </div>
        <div class="col-md-6">
        	<div class="row">
        		<div class="col-md-4 col-md-offset-4">

        			<div class="panel panel-primary">
        	            <div class="panel-heading">
        					<h2 class="panel-title"><b>Tempo do Ensaio</b></h2>
        				    <br>
        	                <div class="row">
        	                    <div class="col-xs-3">
        	                        <span style="font-size:2em;" class="glyphicon glyphicon-time"></span>
        	                    </div>
        	                    <div class="col-xs-9 text-right">
        	                        <div class="huge"><h3 id="experimentTime"></h3></div>
        	                    </div>
        	                </div>
        	            </div>
        	        </div>
                </div>
        		<div class="col-md-4">
        		</div>
        	</div>

        	<div class="row">
        		<div class="col-md-4">
        			<div class="panel panel-primary">
        		            <div class="panel-heading">
        					    <h2 class="panel-title"><b>Hora Inicial</b></h2>
        		            </div>
                                <div class="huge text-center">
            						<h1 id="initialTime"></h1>
                                </div>
        		        </div>
        		  	</div>
        		<div class="col-md-4">

        			    <div class="panel panel-primary">
        	            <div class="panel-heading">
        				    <h2 class="panel-title"><b>Hora Atual</b></h2>
        	            </div>
        	                <div class="huge text-center">
        	                	<h1 id="elapsedTime"></h1>
        	                </div>
        	        </div>
        	    </div>
        		<div class="col-md-4">
        			<div class="panel panel-primary">
        	            <div class="panel-heading">
        				    <h2 class="panel-title"><b>Hora Final</b></h2>
        	            </div>
                            <div class="huge text-center">
        						<h1 id="finalTime"><i class='fa fa-spinner fa-spin fa-fw' aria-hidden='true'></i></h1>
                            </div>
    		        </div>
                </div>

            </div>
        </div>
    </div>

    {% csrf_token %}

    <input type="hidden" id="experiment_id" value="{{ experiment_id }}" />

    <div id="stop_experiment_url" style="display: none;">
        {% url 'stop_experiment' experiment_id%}
    </div>
    <div id="change_frequency_url" style="display: none;">
        {% url 'change_frequency' %}
    </div>
    <div id="consult_frequency_url" style="display: none;">
        {% url 'consult_frequency' %}
    </div>

    <script type="text/javascript">

    	var experiment;
        var experimentHistory = new ExperimentHistory("experiment_history");

        var jobsInfoString = document.querySelector(".jobs_info").textContent
        var jobsInfo = JSON.parse(jobsInfoString);
        var jobsQuantity = Object.keys(jobsInfo.jobs).length;
    	console.log(jobsInfo);

        function updateElapsedTime() {
            var elapsedTime = document.getElementById("elapsedTime");

            var dateElapsed = new Date();

            elapsedTime.innerHTML =  dateElapsed.getHours() + ":" + dateElapsed.getMinutes()+ ":" + dateElapsed.getSeconds();
        }

        function stopUpdate(forcedStop) {
            var finalTime = document.getElementById("finalTime");
            var finalDate = new Date();
            finalTime.innerHTML = finalDate.getHours() + ":" + finalDate.getMinutes() + ":" + finalDate.getSeconds();

            experimentHistory.addEvent(experimentHistory.stopExperimentEvent(finalDate));

            if(forcedStop){
                forcedStop = true;
                createAlert("experiment_status", "danger", "Experiment stopped due to the table unresponsivity.", true);
            }else{
                forcedStop = false;
                createAlert("experiment_status", "success", "Experiment is over!", true);
            }

            stopExperiment(forcedStop);
        }

        function createTimers(jobsJson, experiment){
            for (var jobNum in jobsJson) {
                var job = jobsJson[jobNum];
                var stopFunction = function(){};
                if(parseInt(jobNum) < jobsQuantity){
                    // In this case it is not the last job, so there will be pauses

                    // Protecting the scope of nextJob with an anonymous function
                    (function(jobNum){
                        nextJobIndex = parseInt(jobNum) + 1;
                        var nextJob = jobsJson[nextJobIndex];
                        stopFunction = function(){
                            experimentHistory.addEvent(experimentHistory.pauseExperimentEvent(nextJob));
                        }
                    })(jobNum);

                }
                var timer = new Timer(jobNum, job.time, updateElapsedTime, stopFunction, 1000);
                experiment.addTimer(timer);
            }
        }

        function showCurrentFrequency(currentFrequency){
            if(currentFrequency != -1){
                $("#current_frequency").html(currentFrequency);
            }
        }

        function consultTableFrequency(){

            var url = $("#consult_frequency_url").html();

            var response;

            $.ajax({
                type:"GET",
                url: url,
                data: {},
                beforeSend: function(xhr, settings) {
                    var token = $('input[name="csrfmiddlewaretoken"]').prop('value');
                    xhr.setRequestHeader("X-CSRFToken", token);
                },
                success: function(data){
                    response = JSON.parse(data);

                    frequency = response.frequency;
                    console.log("Frequency from RASP ----------------------");
                    console.log(frequency);
                },
                error: function(request, status, error){
                    // Arbitrary invalid frequency
                    response = {'system_status': false, 'frequency': -2}
                },
                async:false
            });

            return response;
        }

        var jobsFrequencyConsults = {};

        function checkTableResponse(job, currentFrequency){
            if(job in jobsFrequencyConsults){
                if(currentFrequency in jobsFrequencyConsults[job]){
                    jobsFrequencyConsults[job][currentFrequency] += 1;
                }else{
                    jobsFrequencyConsults[job][currentFrequency] = 0;
                }
            }else{
                jobsFrequencyConsults[job] = {};
                jobsFrequencyConsults[job][currentFrequency] = 0;
            }

            return jobsFrequencyConsults[job][currentFrequency];
        }

        function transition(experiment){

            console.log("Changing job...");

            createAlert("experiment_status", "info", "Experiment is paused for now...", true);

            var job = +experiment.currentTimerIndex + 1;

            // Fire the job to the next timer
            fireJob(job);

            var reply = consultTableFrequency();
            var currentFrequency = reply.frequency;
            var systemStatus = reply.system_status;

            showCurrentFrequency(currentFrequency);

            var tableResponsesForCurrentFrequency = checkTableResponse(job, currentFrequency)

            var MAX_SUCESSIVE_EQUAL_RESPONSES = 10;

            var mustContinueExperiment = tableResponsesForCurrentFrequency < MAX_SUCESSIVE_EQUAL_RESPONSES && systemStatus;

            if(mustContinueExperiment){

                var jobs = jobsInfo.jobs;
                var job_data = jobs[job];
                var job_frequency = job_data.frequency;

                var error = 1;
                var reachedRightFrequency = (currentFrequency != null)
                    && (
                        currentFrequency > (job_frequency - error)
                        // && currentFrequency < (job_frequency + error)
                    );

                if(reachedRightFrequency){

                    createAlert("experiment_status", "info", "Frequency reached, keeping on...", true);

                    experimentHistory.addEvent(experimentHistory.unpauseExperimentEvent(job_data));

                    experiment.continue();
                }else{
                    setTimeout(transition, 1000, experiment);
                }
            }else{
                experiment.stop(function(){
                    stopUpdate(true);
                });
            }

        }

        experiment = new Experiment(
            function(){
                // alert("Experiment started!");
            },
            stopUpdate,
            transition
        );

        createTimers(jobsInfo.jobs, experiment);

        // Start the experiment
        experimentHistory.addEvent(experimentHistory.startExperimentEvent(dateObject));
        var dateObject = experiment.start();

        var hours = dateObject.getHours();
        var minutes = dateObject.getMinutes();
        var seconds = dateObject.getSeconds();

        var startTime = dateObject.getTime();

        var initialTime = document.getElementById("initialTime");
        initialTime.innerHTML = hours + ":" + minutes + ":" + seconds;

        // Print the total time of experiment on screen
    	var time = jobsInfo.total_time;
    	var experimentTime = document.getElementById("experimentTime");
 		experimentTime.innerHTML = time + " segundos";

		function fireJob(job){

			var jobs = jobsInfo.jobs;
			var job_data = jobs[job];

			//**** Make a request here to the rapsberry server to change the frequency ****//
            var url = $("#change_frequency_url").html();
			var experiment_id = $("#experiment_id").val();
			$.ajax({
				type:"POST",
				url: url,
				data: {experiment: experiment_id, job: job, frequency: job_data.frequency, jobs_info: jobsInfoString},
			    beforeSend: function(xhr, settings) {
					var token = $('input[name="csrfmiddlewaretoken"]').prop('value');
		        	xhr.setRequestHeader("X-CSRFToken", token);
		      	},
				success: function(response){
                    var CONTROL_SYSTEM_IS_DOWN = "500";
					if (response == CONTROL_SYSTEM_IS_DOWN){
						// In this case the control system is down, so stop the experiment
						createAlert("status_message", "danger", "Não foi' possível realizar a comunicação com o sistema de controle. Tente novamente.", true);
						experiment.stop();
					}
				}
			});
		}

		function stopExperiment(forcedStop){
            if(forcedStop == undefined){
                forcedStop = false;
            }
		  	var url_post = $("#stop_experiment_url").html();
			$.ajax({
				type:"POST",
				url: url_post,
				data: {forcedStop: forcedStop},
			    beforeSend: function(xhr, settings) {
					var token = $('input[name="csrfmiddlewaretoken"]').prop('value');
		        	xhr.setRequestHeader("X-CSRFToken", token);
		      	},
				success: function(response){

                    if(!forcedStop){
                        window.location.href = response;
                    }
				}
			});
		}

		function createAlert(bindTo, type, message, overwrite){
			var alertCode = "<div class='alert alert-dismissible alert-" + type + " text-center'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button> <b><h4>" + message + "</h4></b></div>";
            if(overwrite){
                $("#"+bindTo).html(alertCode);
            }else{
                var previous = $("#"+bindTo).html();
                $("#"+bindTo).html(previous + alertCode);
			}
		}
    </script>
{% endblock %}

{% block body-javascript %}
    {{ block.super }}
    <script>
        $(document).ready(function(){
            $(document).on("keydown", disableF5);
        });

        function disableF5(e) {
            if ((e.which || e.keyCode) == 116 || (e.which || e.keyCode) == 82){
                createAlert("status_message", "info", "O experimento está sendo executado. Aguarde o fim do experimento.", true);
                e.preventDefault();
            }
        }
	</script>
{% endblock %}