{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load bootstrap_ui_tags %}

{% block content %}

	<div class="time" id="total_time" style="display: none;">
    	{{ total_time }}
	</div>

	<div class="row" style="margin-top: 10%;">
		<div class="row">
		</div>

		<div class="col-md-4">
		</div>
		<div class="col-md-4">

			<div class="panel panel-primary">
	            <div class="panel-heading">
					<h2 class="panel-title"><b>Tempo do Ensaio</b></h2>
				    <br>
	                <div class="row">
	                    <div class="col-xs-3">
	                        <span style="font-size:5em;" class="glyphicon glyphicon-time"></span>
	                    </div>
	                    <div class="col-xs-9 text-right">
	                        <div class="huge"><h1 id="experimentTime"></h1></div>
	                    </div>
	                </div>
	            </div>
	        </div>
        </div>
		<div class="col-md-4">
		</div>
	</div>
	
	<div class="row">	
		<div class="col-md-4">
			<div class="panel panel-primary">
		            <div class="panel-heading">
					    <h2 class="panel-title"><b>Hora Inicial</b></h2>
		            </div>
                        <div class="huge text-center">
    						<h1 id="initialTime"></h1>
                        </div>
		        </div>
		  	</div>
		<div class="col-md-4">

			    <div class="panel panel-primary">
	            <div class="panel-heading">
				    <h2 class="panel-title"><b>Hora Atual</b></h2>
	            </div>
	                <div class="huge text-center">
	                	<h1 id="elapsedTime"></h1>
	                </div>
	        </div>
	    </div>
		<div class="col-md-4">
			<div class="panel panel-primary">
	            <div class="panel-heading">
				    <h2 class="panel-title"><b>Hora Final</b></h2>
	            </div>
                    <div class="huge text-center">
						<h1 id="finalTime"></h1>
                    </div>
	        </div>
		</div>
	</div>
	<script type="text/javascript">
		var dataObject = new Date();
    	var hours = dataObject.getHours();
    	var minutes = dataObject.getMinutes();
    	var seconds = dataObject.getSeconds();
 
    	var initialTime = document.getElementById("initialTime");
    	initialTime.innerHTML = hours + ":" + minutes + ":" + seconds;
 
    	var time = document.querySelector(".time").textContent;
    	var experimentTime = document.getElementById("experimentTime");
 		experimentTime.innerHTML = time + " segundos";

		function updateElapsedTime() {
			var elapsedTime = document.getElementById("elapsedTime");

			var dateElapsed = new Date();

			elapsedTime.innerHTML =  dateElapsed.getHours() + ":" + dateElapsed.getMinutes()+ ":" + dateElapsed.getSeconds();
		}

		var timer = setInterval(updateElapsedTime, 500);

		function stopUpdate() {
			clearInterval(timer);

			var finalTime = document.getElementById("finalTime");
			var finalDate = new Date();
			finalTime.innerHTML = finalDate.getHours() + ":" + finalDate.getMinutes() + ":" + finalDate.getSeconds();
		}

		var timeToStop = time*1000;

		setTimeout(stopUpdate, timeToStop);
	</script>
{% endblock %}